<h1>Lista de Articulos: </h1>
<table *ngIf="listaArticulos.length > 0" class='table table-hover table-responsive table-fixed'>
  <tbody *ngFor="let articulo of listaArticulos" >
    <tr style="font-size: 25px;font-family: Georgia, 'Times New Roman', serif;">
      <td>{{articulo.codigo}} </td> 
      <td *ngIf="articulo.disponible == 0"><button class="btn btn-info" (click)="Agregar(articulo.id)" style="width: 100%">Añadir Articulo</button></td>
      <td *ngIf="articulo.disponible == 1"><button class="btn btn-danger" (click)="Retirar(articulo.id)" style="width: 100%">Retirar Articulo</button></td>
    </tr> 
    </tbody>
</table>
<h2 *ngIf="listaArticulos.length == 0" > No hay articulos disponibles</h2>