<nav *ngIf="TIPO == '0'" class="navbar navbar-expand-lg navbar-dark bg-dark">
  
  <a class="navbar-brand" (click)="IR('')">Principal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!--<li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>-->
    </ul>
    
    <form class="navbar-nav my-2 my-lg-0">
      <li class="nav-item">
        <a class="nav-link" (click)="SignIn()"> Iniciar Sesion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"(click)="SignUp()"> Registrarse</a>
      </li>
      <li class="nav-item">
        
      </li>
    </form>

  </div>
</nav>

<nav *ngIf="TIPO == '1'" class="navbar navbar-expand-lg navbar-dark bg-dark">
  
  <a class="navbar-brand" (click)="IR('')">Principal</a>
  <a class="navbar-brand" (click)="IR('Empleados')">Empleados</a>
  <a class="navbar-brand" (click)="IR('ListaCompras')">Compras</a>
  <a class="navbar-brand" (click)="IR('Cuotas')">Cuotas</a>
  <a class="navbar-brand" (click)="IR('ZonasEnvio')">Zonas de Envío</a>
  <a class="navbar-brand" (click)="IR('Generos')">Generos</a>
  <a class="navbar-brand" (click)="IR('Plataformas')">Plataformas</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    
    <li class="nav navbar-nav">
        <a class="nav-link">{{nombreUsuario}}</a>
        <a class="nav-link" (click)="logOut()" ><i class="fa fa-fw fa-sign-out"></i></a>
    </li>    

  </div>
</nav>

<nav *ngIf="TIPO == '2'" class="navbar navbar-expand-lg navbar-dark bg-dark">
  
  <a class="navbar-brand" (click)="IR('')">Principal</a>
  <a class="navbar-brand" (click)="IR('ListaCompras')">Mis compras</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    
    <li class="nav navbar-nav">
        <a class="nav-link">{{nombreUsuario}}</a>
        <a class="nav-link">CARRITO<i (click)="IR('Carrito')" class="fa fa-fw fa-shopping-cart"></i></a>
        <a class="nav-link" (click)="logOut()" ><i class="fa fa-fw fa-sign-out"></i></a>
    </li>    

  </div>
</nav>

<nav *ngIf="TIPO == '3'" class="navbar navbar-expand-lg navbar-dark bg-dark">
  
  <a class="navbar-brand" (click)="IR('')">Principal</a>
  <a *ngIf="estado == '1'" class="navbar-brand" (click)="IR('ListaCompras')">Compras</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    
    <li class="nav navbar-nav">
        <a class="nav-link">{{nombreUsuario}}</a>
        <a class="nav-link" (click)="logOut()" ><i class="fa fa-fw fa-sign-out"></i></a>
    </li>    

  </div>
</nav>