<app-menu (valor)="AbrirModal($event)"></app-menu>

<div class="flexbox-container"> 
    <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
            <mat-card *ngIf="juego">
                <mat-card-title>{{juego.titulo}} </mat-card-title>
                <mat-card-subtitle>{{juego.plataforma}} Edición: {{juego.formato}} Genero: {{juego.genero}} </mat-card-subtitle>
                <img mat-card-image src="assets/portadas/{{juego.foto}}" >
                <mat-card-content>
                    <p>{{juego.descripcion}}</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
            <div class="datos" *ngIf="juego">
                <h1>$ {{juego.precio}}</h1>
                <button *ngIf="TIPO == '2'" type="submit" class="btn btn-primary btn-lg">Agregar al carrito</button>
                <button *ngIf="TIPO == '1' || TIPO == '3'" (click)="AgregarJuego()" class="btn btn-primary btn-lg">Actualizar datos</button>
                <br><br>
                <button *ngIf="TIPO == '1' || TIPO == '3'" (click)="AgregarArticulo()" class="btn btn-primary btn-lg">Agregar Articulo</button>
            </div>
        </div>
    </div>
</div>
<br>
<div *ngIf="(TIPO == '1' || TIPO == '3')">
    <app-lista-articulos (cambio)="Actualizar($event2)" [listaArticulos]="listadoParaCompartir"></app-lista-articulos>
</div>
